<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>angle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,965},{49,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,57}}</string>
                <key>sourceSize</key>
                <string>{49,57}</string>
            </dict>
            <key>angle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,906},{49,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,57}}</string>
                <key>sourceSize</key>
                <string>{49,57}</string>
            </dict>
            <key>angle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,788},{49,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,57}}</string>
                <key>sourceSize</key>
                <string>{49,57}</string>
            </dict>
            <key>angle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,847},{49,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,57}}</string>
                <key>sourceSize</key>
                <string>{49,57}</string>
            </dict>
            <key>angle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,923},{49,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,57}}</string>
                <key>sourceSize</key>
                <string>{49,57}</string>
            </dict>
            <key>angle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,923},{49,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,57}}</string>
                <key>sourceSize</key>
                <string>{49,57}</string>
            </dict>
            <key>angle_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,788},{49,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,57}}</string>
                <key>sourceSize</key>
                <string>{49,57}</string>
            </dict>
            <key>angle_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,788},{49,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,57}}</string>
                <key>sourceSize</key>
                <string>{49,57}</string>
            </dict>
            <key>angle_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,620},{49,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,57}}</string>
                <key>sourceSize</key>
                <string>{49,57}</string>
            </dict>
            <key>angle_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,620},{49,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,57}}</string>
                <key>sourceSize</key>
                <string>{49,57}</string>
            </dict>
            <key>angle_bs.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,738},{48,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,55}}</string>
                <key>sourceSize</key>
                <string>{48,55}</string>
            </dict>
            <key>angle_hs.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,694},{49,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,57}}</string>
                <key>sourceSize</key>
                <string>{49,57}</string>
            </dict>
            <key>anniu_about.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,195},{50,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,52}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>anniu_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,732},{49,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,52}}</string>
                <key>sourceSize</key>
                <string>{49,52}</string>
            </dict>
            <key>anniu_set.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,588},{69,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,71}}</string>
                <key>sourceSize</key>
                <string>{69,71}</string>
            </dict>
            <key>anniu_sound1.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,732},{49,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,50}}</string>
                <key>sourceSize</key>
                <string>{49,50}</string>
            </dict>
            <key>anniu_sound2.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,249},{49,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,50}}</string>
                <key>sourceSize</key>
                <string>{49,50}</string>
            </dict>
            <key>backsp.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,872},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>box1-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,924},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>box1-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,602},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>box2-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,858},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>box2-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,681},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>box3-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,672},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>box3-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,788},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>box4-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,666},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>box4-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,675},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>box5-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,620},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>box5-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,675},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>button_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,125},{100,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,43}}</string>
                <key>sourceSize</key>
                <string>{100,43}</string>
            </dict>
            <key>button_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,197},{243,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,105}}</string>
                <key>sourceSize</key>
                <string>{243,105}</string>
            </dict>
            <key>button_cx.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,630},{158,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,43}}</string>
                <key>sourceSize</key>
                <string>{158,43}</string>
            </dict>
            <key>button_fh.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,588},{157,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,43}}</string>
                <key>sourceSize</key>
                <string>{157,43}</string>
            </dict>
            <key>button_jx.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,469},{159,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,43}}</string>
                <key>sourceSize</key>
                <string>{159,43}</string>
            </dict>
            <key>cha.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,847},{55,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,56}}</string>
                <key>sourceSize</key>
                <string>{55,56}</string>
            </dict>
            <key>effect_ligh.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,83},{319,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,294}}</string>
                <key>sourceSize</key>
                <string>{319,294}</string>
            </dict>
            <key>fangkuai_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,947},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>fangkuai_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,633},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>fangkuai_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,686},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>fangkuai_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,728},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>fangkuai_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,788},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>fangkuai_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,830},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>fangkuai_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,905},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>fangkuai_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,788},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>fangkuai_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,686},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>fangkuai_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,982},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>fangkuai_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,982},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>fangkuai_hs.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,581},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>fsx.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{254,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,254}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>great.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,225},{261,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,119}}</string>
                <key>sourceSize</key>
                <string>{261,119}</string>
            </dict>
            <key>guanbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,581},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,47}}</string>
                <key>sourceSize</key>
                <string>{46,47}</string>
            </dict>
            <key>guoguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,2},{329,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{329,121}}</string>
                <key>sourceSize</key>
                <string>{329,121}</string>
            </dict>
            <key>gxn.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,125},{248,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,70}}</string>
                <key>sourceSize</key>
                <string>{248,70}</string>
            </dict>
            <key>image3.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,469},{181,198}}</string>
                <key>offset</key>
                <string>{17,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,19},{181,198}}</string>
                <key>sourceSize</key>
                <string>{217,218}</string>
            </dict>
            <key>kuangti_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,422},{87,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,58}}</string>
                <key>sourceSize</key>
                <string>{87,58}</string>
            </dict>
            <key>kuangti_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,652},{60,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,40}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>level_guanshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,548},{194,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,38}}</string>
                <key>sourceSize</key>
                <string>{194,38}</string>
            </dict>
            <key>level_mubiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,383},{88,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,37}}</string>
                <key>sourceSize</key>
                <string>{88,37}</string>
            </dict>
            <key>lxy_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{346,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,139}}</string>
                <key>sourceSize</key>
                <string>{346,139}</string>
            </dict>
            <key>lxy_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{293,80}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{293,80}}</string>
                <key>sourceSize</key>
                <string>{299,84}</string>
            </dict>
            <key>ppp.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,108},{11,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,11}}</string>
                <key>sourceSize</key>
                <string>{11,11}</string>
            </dict>
            <key>prop00.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,652},{134,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,141}}</string>
                <key>sourceSize</key>
                <string>{134,141}</string>
            </dict>
            <key>prop01.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,143},{50,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,51}}</string>
                <key>sourceSize</key>
                <string>{50,51}</string>
            </dict>
            <key>prop02-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,379},{78,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,76}}</string>
                <key>sourceSize</key>
                <string>{78,76}</string>
            </dict>
            <key>prop02.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,602},{65,62}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{65,62}}</string>
                <key>sourceSize</key>
                <string>{73,72}</string>
            </dict>
            <key>prop03.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,982},{40,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,50}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>prop04.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,607},{73,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,72}}</string>
                <key>sourceSize</key>
                <string>{73,72}</string>
            </dict>
            <key>prop1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,482},{74,79}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{74,79}}</string>
                <key>sourceSize</key>
                <string>{76,91}</string>
            </dict>
            <key>prop1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,248},{76,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,91}}</string>
                <key>sourceSize</key>
                <string>{76,91}</string>
            </dict>
            <key>prop1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,170},{76,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,91}}</string>
                <key>sourceSize</key>
                <string>{76,91}</string>
            </dict>
            <key>prop4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,532},{78,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,73}}</string>
                <key>sourceSize</key>
                <string>{78,73}</string>
            </dict>
            <key>prop4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,457},{78,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,73}}</string>
                <key>sourceSize</key>
                <string>{78,73}</string>
            </dict>
            <key>skill2_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,858},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>skill2_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{340,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,79}}</string>
                <key>sourceSize</key>
                <string>{340,79}</string>
            </dict>
            <key>skill2_kuangjiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,83},{19,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,23}}</string>
                <key>sourceSize</key>
                <string>{19,23}</string>
            </dict>
            <key>skill2_squaguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,345},{118,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,124}}</string>
                <key>sourceSize</key>
                <string>{118,124}</string>
            </dict>
            <key>tsk.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,300},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>wf.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,558},{60,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,74}}</string>
                <key>sourceSize</key>
                <string>{60,74}</string>
            </dict>
            <key>yba.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,304},{163,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,216}}</string>
                <key>sourceSize</key>
                <string>{163,216}</string>
            </dict>
            <key>ybb.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,379},{167,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,214}}</string>
                <key>sourceSize</key>
                <string>{167,214}</string>
            </dict>
            <key>zan.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,465},{118,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,114}}</string>
                <key>sourceSize</key>
                <string>{118,114}</string>
            </dict>
            <key>zi_ge.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,225},{30,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,29}}</string>
                <key>sourceSize</key>
                <string>{30,29}</string>
            </dict>
            <key>zs.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,581},{43,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,38}}</string>
                <key>sourceSize</key>
                <string>{43,38}</string>
            </dict>
            <key>zuan_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,304},{39,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{39,21}}</string>
                <key>sourceSize</key>
                <string>{43,25}</string>
            </dict>
            <key>zuan_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,256},{39,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{39,21}}</string>
                <key>sourceSize</key>
                <string>{43,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tupian.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:722bfcb0c62bc93bde560daf110f9090$</string>
            <key>textureFileName</key>
            <string>tupian.png</string>
        </dict>
    </dict>
</plist>
